@layer kelp.theme {
	:where(:root) {
    --color-text-link: var(--color-gray-20);
    --color-text-link-hover: var(--color-gray-10);
    --decoration-text-link: underline dotted var(--color-gray-70);
  }
}

:root {
  --max-width: 55ch;
}

body {
  letter-spacing: .02em;
}

h2 {
  line-height: 1.1;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: var(--size-m);
  font-family: var(--font-primary);
}

hr {
  margin-block: 0;
}

.body-header details {
  margin-block: var(--size-4xs);
}

body > div {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--size-m);
  padding-block: var(--size-4xs) var(--size-m);
}

.nav span {
  margin-inline: 0.3em;
}

[aria-current=page] {
  text-decoration: underline;
}

.feed-icon {
  height: 1em;
}

/* TODO: limit/cap height of <header> tag-list? */
.tag-list {
  column-width: 15ch;
}

.tag {
  --gap-size: calc(var(--size-3xs));
  gap: var(--gap-size, 1em);
  display: flex;
  align-items: center;
}

.tag input[type=checkbox] {
  outline: 3px solid var(--outline-color, transparent);
  outline-offset: 1px;
}

/* When new tag is added */
.tag input[type="checkbox"]:checked:not(:default) {
  --outline-color: var(--color-green-80);
}

/* When tag is removed */
.tag input[type="checkbox"]:default:not(:checked) {
  --outline-color: var(--color-red-80);
}

main {
  margin-block: var(--size-4xl);
}

main h2 {
  margin-block-start: var(--size-4xs);
  margin-block-end: 0;
  display: flex;
  align-items: center;
  gap: var(--size-4xs);
  /* outline: 1px solid var(--color-gray-50); */
}

.main-header {
  margin-block-end: var(--size-2xl);
}

.main-actions {
  --gap: var(--size-xs);
  margin-block-start: var(--size-4xs);
}

.main-actions button {
  font-size: var(--size-xs);
  padding: var(--size-5xs) var(--size-4xs);
}

.heading-info button {
  padding: 0;
  font-size: inherit;
  vertical-align: inherit;
}

.heading-info {
  font-style: italic;
  color: var(--color-text-muted);
  font-size: var(--size-xs);
}

.heading-info > * {
  margin-block-end: 0;
}

.feed-item {
  display: flex;
  align-items: baseline;
}

.hide-after ~ li {
  display: none;
}

.no-date,
.feed-item time {
  --time-bg: var(--color-text-normal);
  box-sizing: content-box;
  font: var(--font-monospace);
  font-size: var(--size-2xs);
  min-width: 3.8ch;
  background: var(--time-bg);
  color: var(--color-background);
  padding-inline: var(--size-5xs);
  text-align: end;
  flex-shrink: 0;
  border-radius: 1px;
}

.feed-footer button {
  margin-block-start: var(--size-m);
  font-size: var(--size-xs);
  padding: var(--size-5xs) var(--size-4xs);
}

.feed-footer button[aria-expanded=true] .toggle-expand {
  display: none;
}

.feed-footer button[aria-expanded=false] .toggle-collapse {
  display: none;
}

.item-link {
  margin-inline-start: var(--size-xs);
  margin-inline-end: var(--size-xl);
  max-width: 40ch;
  /* make sure .item-extra column is aligned */
  width: 200%;
}

relative-time > ul {
  margin-inline-end: calc(-0.5 * max(0px, calc(100vw - var(--max-width))));
}

.item-extra {
  --color-text-link: var(--color-gray-40);
  font-size: var(--size-xs);
  min-width: 7ch;
}

.item-extra a,
.feed-external-url span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

a.feed-external-url {
  margin-top: var(--size-5xs);
  display: flex;
  align-items: center;
  gap: var(--size-5xs);
}

.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.form-submit {
  margin-block-start: 1rem;
}

.tags-all {
  --gap: var(--size-5xs);
}

.tag-item {
  display: flex;
  gap: var(--size-2xs);
}

.tag-item > a {
  max-width: 20ch;
  width: 100%;
}

.form-actions {
  --gap: var(--size-m);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  align-items: center;
}

form input[type=text] {
  width: 100%;
}

.char-len-s {
  max-width: 25ch;
}

.char-len-m {
  max-width: 30ch;
}

.char-len-l {
  max-width: 40ch;
}

em {
  font-size: var(--size-s);
  color: var(--color-fill-vivid);
}

.label-wrapper label {
  margin-block-end: 0;
  line-height: 1.0;
}

.label-wrapper {
  margin-block-end: var(--size-5xs);
}

/**
.stack uses flexbox column which makes everything 100% width.
Use this if 100% width is not desired behaviour.
*/
@layer kelp.layout {
  .flow > * {
    margin: 0;
  }

  .flow > * + * {
    margin-block-start: var(--flow-space, var(--size-m));
  }
}

/** overwrite kelp library's .callout css values */
.callout {
  display: inline-block;
  padding: var(--size-3xs) var(--size-xs);
  border-radius: 3px;
}

.html-feed-inputs {
  --flow-space: var(--size-5xl);
  display: none;
  border: 1px solid var(--color-gray-90);
  border-radius: 3px;
  padding-block-start: var(--size-3xs);
  padding-block-end: var(--size-s);
  padding-inline: var(--size-s);
}

:has(#url-html:checked) .html-feed-inputs  {
  display: block;
}

.feed-tag-list {
  column-width: 15ch;
}

.feed-tag-list input {
  margin-inline-end: var(--size-5xs);
}

main h3 {
  margin-block-start: 2em;
}

.feed header {
  margin-block-end: 1em;
}

.feed:has([aria-expanded=false]) .feed-item:not(:first-child) {
  display: none;
}

.feed-header-top {
  display: flex;
  align-items: center;
}

.feed-header-top time {
  --time-bg: var(--color-text-normal);
  background: var(--time-bg);
  color: var(--color-background);
  margin-inline: var(--size-s);
  font: var(--font-monospace);
  font-size: var(--size-2xs);
  padding-inline: var(--size-5xs);
  border-radius: 1px;
}

.feed-edit {
  font-size: var(--size-xs);
  --color-text-link: var(--color-gray-40);
  margin-block-start: calc(var(--size-m) - var(--size-xs));
  white-space: nowrap;
}

.feed-title {
  margin-inline-start: var(--size-4xs);
}

.feed-tags {
  margin-top: var(--size-4xs);
}

.feed-tags ul {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-code);
  gap: var(--size-4xs);
  margin: 0;
  height: calc(var(--tags-first-line-height) + .5em);
}

.feed-tags a {
  display: block;
}

time.age-newest {
  --time-bg: var(--color-gray-20);
}

time.age-less-month {
  --time-bg: var(--color-gray-30);
}

time.age-more-month {
  --time-bg: var(--color-gray-40);
}

@layer kelp.core {
  .badge {
    --background-color: var(--color-gray-95);
    --color: var(--color-text-normal);
    --decoration-hover: underline;
    padding-block: var(--size-6xs);
    padding-inline: var(--size-5xs);
    border-radius: 2px;
  }
}

.main-footer hr {
  margin-block-start: var(--size-4xl);
  margin-block-end: var(--size-4xs);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag-actions form {
  line-height: 1;
}
