h1, h2 {
  line-height: 1.1;
}

header {
  --sidebar-target-width: 20ch;
}

main {
  --sidebar-content-min-width: 30ch;
}

nav span {
  margin-inline: 0.3em;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

.feed-icon {
  height: 1em;
}

.tag {
  --gap-size: calc(var(--size-2xs) * 0.5);
  gap: var(--gap-size, 1em);
}

.tag-checkbox, .tag {
  display: flex;
  align-items: center;
}
