h1, h2 {
  line-height: 1.1;
}

h1, h2, h3 {
  font-weight: normal;
}

main {
  --sidebar-content-min-width: 30ch;
}

nav span {
  margin-inline: 0.3em;
}

/** sidebar util */
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}
/** sidebar util end */

.feed-icon {
  height: 1em;
}

.page {
  padding-inline: var(--size-m);
  /* max-width: var(--breakpoint-l); */
  /* width: 100%; */
  outline: 1px solid green;
  outline-offset: -1px;
}

.tag {
  --gap-size: calc(var(--size-2xs) * 0.5);
  gap: var(--gap-size, 1em);
}

.tag {
  display: flex;
  align-items: center;
}

.tag input[type=checkbox] {
  outline: 3px solid var(--outline-color, transparent);
  outline-offset: 1px;
}

/* When new tag is added */
.tag input[type="checkbox"]:checked:not(:default) {
  --outline-color: var(--color-green-80);
}

/* When tag is removed */
.tag input[type="checkbox"]:default:not(:checked) {
  --outline-color: var(--color-red-80);
}

.body-header {
  --sidebar-target-width: 20ch;
  height: 100vh;
  height: 100dvh;
  overflow-y: auto;
}

.main-heading h2 {
  margin-block-start: var(--size-4xs);
  margin-block-end: 0;
  /* outline: 1px solid var(--color-gray-50); */
}

.heading-info {
  font-style: italic;
  color: var(--color-text-muted);
  font-size: var(--size-xs);
}

.feed-item {
  display: flex;
  gap: var(--size-3xs);
  align-items: baseline;
}

.feed-item time {
  --time-bg: var(--color-text-normal);
  box-sizing: content-box;
  font: var(--font-monospace);
  font-size: var(--size-xs);
  min-width: 3ch;
  background: var(--time-bg);
  color: var(--color-background);
  padding-inline: var(--size-5xs);
  text-align: end;
  flex-grow: 0;
  flex-shrink: 0;
}

.feed-item .age-newest {
  --time-bg: var(--color-gray-10);
}

.feed-item .age-less-month {
  --time-bg: var(--color-gray-30);
}

.feed-item .age-more-month {
  --time-bg: var(--color-gray-40);
}

.item-extra {
  font-size: var(--size-xs);
  width: 10ch;
  flex-shrink: 1;
  flex-grow: 1;
}

.item-extra a,
.item-extra span {
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

}

.feed-external-url {
  margin-top: var(--size-5xs);
}

.feed-external-url a {
  display: flex;
  align-items: center;
  gap: var(--size-5xs);
}

.item-link {
  max-width: 40ch;
  /* display: flex; */
  width: 100%;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

