[submodule "lib/zelda"]
	path = lib/zelda
	url = https://github.com/haze/zelda
[submodule "lib/zig-datetime"]
	path = lib/zig-datetime
	url = https://github.com/frmdstryr/zig-datetime
[submodule "lib/zig-args"]
	path = lib/zig-args
	url = https://github.com/MasterQ32/zig-args
