@import "open-props-colors.css";
/* Modern reset: https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* https://adrianroselli.com/2019/09/under-engineered-text-boxen.html */
textarea,
input:not([type="checkbox"]):not([type="file"]):not([type="image"]):not([type="radio"]):not([type="range"]) {
  border: 0.1em solid;
  padding: 0 0.2em;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* 
  Global styles/variables

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

:root {
  --step--2: clamp(0.6944rem, 0.6856rem + 0.0444vi, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8101rem + 0.1159vi, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --step-1: clamp(1.2rem, 1.1283rem + 0.3587vi, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3295rem + 0.5527vi, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5648rem + 0.8161vi, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.8395rem + 1.1704vi, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.1597rem + 1.6433vi, 3.4332rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);

  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);

  --grey-1: rgba(251, 251, 251, 1);
  --grey-2: rgba(232, 232, 232, 1);
  --grey-3: rgba(214, 214, 214, 1);
  --grey-4: rgba(196, 196, 196, 1);
  --grey-5: rgba(178, 178, 178, 1);
  --grey-6: rgba(161, 161, 161, 1);
  --grey-7: rgba(144, 144, 144, 1);
  --grey-8: rgba(127, 127, 127, 1);
  --grey-9: rgba(111, 111, 111, 1);
  --grey-10: rgba(95, 95, 95, 1);
  --grey-11: rgba(79, 79, 79, 1);
  --grey-12: rgba(64, 64, 64, 1);
  --grey-13: rgba(50, 50, 50, 1);
  --grey-14: rgba(36, 36, 36, 1);
  --grey-15: rgba(23, 23, 23, 1);
  --grey-16: rgba(5, 5, 5, 1);
}

:root {
  --font-base: Arial;
  --gutter: var(--space-s-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --leading-standard: 1.4;
  --tracking: .02em;

  --text-1: var(--grey-16);
  --text-2: var(--grey-1);
  --surface-0: var(--white);
  --surface-1: var(--grey-1);
  --surface-2: var(--grey-2);
}

body {
  background: var(--surface-1);
  color: var(--text-1);
  font-size: var(--step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  letter-spacing: var(--tracking);
  margin: 0;
}  

main {
  background: var(--surface-0);
}

ul {
  margin-block: 0;
  padding-inline-start: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin-inline: 0;
}

a {
  color: var(--text-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

time {
  font-family: monospace;
  font-size: var(--step--1);
}

button {
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  max-width: 40ch;
}

/* 
  Block styles 
*/

.main-header {
  justify-content: right;
  padding-block-start: var(--space-2xs);
  display: flex;
  gap: var(--space-xs);
}

.main-header button {
  --_text-color: var(--grey-10);
  --_border-color: var(--grey-7);
  color: var(--_text-color);
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--_border-color);
  padding-inline: var(--space-2xs);
  margin-bottom: -1px;
}

.main-header button:hover {
  --_text-color: var(--grey-14);
  --_border-color: var(--grey-11);
}

.main-footer {
  border-block-start: 1px solid var(--surface-2);
  padding: var(--space-xs);
}

.tag {
  display: flex;
  gap: 2px;
  margin-inline: calc(-1 * var(--space-2xs));
}

.tag-checkbox {
  display: flex;
  background: var(--label-bg, var(--gray-2));
  padding-inline-start: var(--space-2xs);
  padding-inline-end: calc((1em * 1.5 - 0.9em) / 2);
}

.tag input[type=checkbox] {
  margin: auto;
  height: .9em;
  width: .9em;
}

.tag a {
  width: 100%;
  padding-inline-start: var(--space-2xs);
}

.tag a:focus,
.tag a:hover {
  background: var(--gray-2);
}

/* When new tag is added */
.tag:has(input[type="checkbox"]:checked:not(:default)) {
  --label-bg: var(--green-3);
}

/* When tag is removed */
.tag:has(input[type="checkbox"]:default:not(:checked)) {
  --label-bg: var(--red-3);
}

.body-header {
  /* 
    TODO: have to figure out what todo do on smaller screens.
    Take advantage of horizontal space?
  */
  --sidebar-target-width: min-content;
  --flow-space: 2em;
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
  border-inline-end: 1px solid var(--surface-2);
  padding-block-start: var(--space-2xs);
  padding-block-end: var(--space-l);
  padding-inline: var(--space-2xs);
}

.sidebar nav {
  margin-block-start: var(--space-2xs);
}

.sidebar nav a:first-child:after {
  content: "|";
  color: var(--grey-6);
  margin-inline: var(--space-2xs);
}

.sidebar-heading {
  font-size: var(--step-0);
  background: var(--grey-13);
  color: var(--grey-1);
  margin-inline-start: calc(-1 * var(--space-2xs));
  padding-inline-start: var(--space-2xs);
  padding-inline-end: var(--space-2xs);
  padding-block: 1px;
  display: inline-block;
  margin-top: 0;
}

.filter-wrapper {
  margin-block-start: var(--space-m);
}

.filter-wrapper button {
  border: 1px solid var(--grey-3);
  background: var(--grey-2);
  padding: var(--space-3xs) var(--space-2xs);
  min-width: 6rem;
  margin-top: var(--space-xs);
}

.form-submit {
  font-weight: bold;
}

.filter-wrapper button:hover {
  text-decoration: underline;
}

/* .filter-wrapper button::after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  background: white;
} */

.form-heading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--step--1);
  letter-spacing: .09em;
}

.feed-header {
  margin-block-end: var(--space-m);
  margin-inline-start: var(--space-m);
}

.feed-header-top {
  display: flex;
  align-items: center;
}

.feed-edit {
  flex-shrink: 0;
}

/** NOTE: need this to get right character width that is used in <time> */
.fake-time {
  --_box-padding: 3px;
  font-family: monospace;
  font-size: var(--step--1);
  margin-inline-start: calc(3ch + (2 * var(--_box-padding)) + var(--space-m));
}

.feed {
  border-block-start: 1px solid var(--surface-2);
  padding-block-start: var(--space-l);
}

.feed:not(:has(.hide-after)):has(.feed-item-toggle[aria-expanded=false]) .feed-item:nth-child(n+2) {
  display: none;
}

.hide-after ~ .feed-item {
  display: none;
}

.feed-footer {
  margin-top: var(--space-m);
  max-width: calc(50ch + var(--space-m));
  text-align: right;
}

.feed-item-toggle {
  --_text-color: var(--grey-9);
  --_border-color: var(--grey-5);
  font-size: var(--step--1);
  padding: 3px var(--space-2xs);
  color: var(--_text-color);
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--_border-color);
  margin-bottom: -1px;
}

.feed-item-toggle:hover {
  --_text-color: var(--grey-14);
  --_border-color: var(--grey-11);
}

.feed-item-toggle[aria-expanded=false] .toggle-collapse,
.feed-item-toggle[aria-expanded=true] .toggle-expand {
  display: none;
}

.feed-tags {
  display: flex;
  flex-flow: flex-wrap;
  gap: var(--space-2xs);
}

.feed-tags a {
  font-size: var(--step--1);
  text-decoration: none;
  background: var(--stone-3);
  line-height: 1;
  padding: 2px 4px 1px 4px;
  border-bottom: 2px solid transparent;
}

.feed-link {
  font-weight: bold;
}

.feed-item {
  display: flex;
}

.feed-item a,
.feed-item p {
  max-width: 50ch;
  padding-inline-start: var(--space-m);
}

.feed-item time {
  align-self: self-start;
  color: var(--grey-1);
  text-align: end;
  line-height: 1;
  --_box-padding: 3px;
  padding: 2px var(--_box-padding);
  min-width: calc(3ch + (2 * var(--_box-padding)));
  width: min-content;
  margin-block-start: calc(
    (var(--step-0) * var(--leading-standard) - var(--step-0)) / 2
  );
}

.feed-item.age-newest time {
  background: var(--grey-13);
}

.feed-item.age-less-month time {
  background: var(--grey-11);
}

.feed-item.age-more-month time {
  background: var(--grey-9);
}

.message {
  background: var(--surface-1);
}

.message p {
  margin-block-start: 0;
}


/* 
  Component styles 
*/

/* 
Source: https://github.com/Set-Creative-Studio/cube-boilerplate/blob/main/src/css/compositions/sidebar.css
SIDEBAR
More info: https://every-layout.dev/layouts/sidebar/
A layout that allows you to have a flexible main content area
and a "fixed" width sidebar that sits on the left or right.
If there is not enough viewport space to fit both the sidebar
width *and* the main content minimum width, they will stack
on top of each other

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-size-1)): This defines the space
between the sidebar and main content.

--sidebar-target-width (20rem): How large the sidebar should be

--sidebar-content-min-width(50%): The minimum size of the main content area

EXCEPTIONS
.sidebar[data-direction='rtl']: flips the sidebar to be on the right 
*/
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 60%);
}

/* 
FLOW COMPOSITION 
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/ 
*/
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}


/* 
  Utility styles 
*/

.truncate-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 
VISUALLY HIDDEN UTILITY
Info: https://piccalil.li/quick-tip/visually-hidden/ 
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}
