<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[title]</title>
    <script>
      // Dark/Light mode
      (function() {
        const doc_cl = document.documentElement.classList;
      	const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)');
      	doc_cl.toggle('kelp-theme-dark', prefersDarkMode.matches);
      	prefersDarkMode.addEventListener('change', function(ev) {doc_cl.toggle('kelp-theme-dark', ev.matches)});
      })();
    </script>
    [links_and_scripts]
  </head>
  <body>
    <div class="sidebar gap-0 container-l">
    [content]
    </div>
  </body>
</html>
