.feed_item_link
<a href="{[link]s}" class="item-link {[class]s}" title="{[title]s}" rel="noreferrer noopener">{[title]s}</a>
.feed_item_no_link
<p class="{[class]s}" title="{[title]s}">{[title]s}</p>
.date
<time class="{[age_class]s}" datetime="{[date]s}">{[date_display]s}</time>
.no_date
<span class="no-date">&#8212;</span>
.feed_link
<a class="feed-title truncate-1" href="{[page_url]s}" rel="noreferrer noopener">{[title]s}</a>
.feed_no_link
<p class="feed-title truncate-1">{[title]s}</p>
.untagged
<div class='tag'>
  <input type="checkbox" name="untagged" id="untagged" {[is_checked]s}>
  <label class="visually-hidden" for="untagged">{[value]s}</label>
  <a class='truncate-1' href='/?untagged=' title='untagged'>{[value]s}</a>
</div>
.tag_input
<input type="checkbox" name="tag" id="{[prefix]s}{[tag_index]d}" value="{[tag]s}" {[is_checked]s}>
<label class="{[label_class]s}" for="{[prefix]s}{[tag_index]d}">{[tag]s}</label>
.tag_link
<a class='{[class]s}' href="/feeds?tag={[tag]s}" title="{[tag]s}">{[tag]s}</a>
.button_primary
<button class='muted primary' name='action' value='save'>{s}</button>
.button_danger
<button class='outline danger' name='action' value='delete'>{s}</button>
.button_danger_link
<button class='btn-link padding-0 danger' name='action' value='delete'>{s}</button>
.form_input
<div class="form-input">
  <div>
    <label for="new_tags">New tags</label>
    <em>Tags are comma separated</em>
  </div>
  <input type="text" id="new_tags" name="new_tags">
</div>
.fieldset_tags
<fieldset>
  <legend>Tags</legend>
  <div class='feed-tag-list'>
    .fieldset_tag
    <label for="{[prefix]s}{[tag_index]d}">
    <input type="checkbox" name="tag" id="{[prefix]s}{[tag_index]d}" value="{[tag]s}" {[is_checked]s}>
    <span class='truncate-1' title="{[tag]s}">{[tag]s}</span>
    </label>
    .end_fieldset_tag
  </div>
</fieldset>
.feed_delete_msg
<div class='message'>
  <p>Feed deleted</p>
  <a href='/'>Close message</a>
</div>
.last_update_msg
<p>Last update was <relative-time update="false"><time datetime="{s}">{s}</time></relative-time>.</p>
.next_update_msg
<p>Next update <relative-time update=false><time datetime={s}>{s}</time></relative-time> ({s})</p>
.form_post_update
<form method=POST action=/update>
  <p>
    <button class="btn-link">Check for updates.</button>
    Might take some time.
  </p>
</form>
.body_header
<header class='body-header'>
  <div class='nav'>
    <h1>
      <a href="/" {[attrs]s}>feedgaze</a>
    </h1>
    <nav>
      .nav_link
      <span>|</span><a href="{[href]s}" {[attrs]s}>{[text]s}</a>
      .end_nav_link
    </nav>
  </div>
  .include_filter_feeds
  <hr>
</header>
.filter_feeds
<details>
  <summary>Filter feeds</summary>
  <div class='filter-wrapper'>
    <form action='/feeds' class='stack'>
      <!-- NOTE: don't want tags-only button to be the 'default' button. This is
      used when enter is pressed in input (text) field. -->
      <button aria-hidden="true" style="display: none">Default form action</button>
      <fieldset class='tags stack'>
        <legend>Tags</legend>
        <div class='tag-list'>
        .include_tags
        </div>
      </fieldset>
      <div><button class='muted secondary' name='tags-only'>Filter tags only</button></div>
      <div>
        <label class="form-heading" for="search_value">Filter feeds</label>
        <div class="input-search-wrapper"><input type="search" name="search" id="search_value" value="{[value]s}"></div>
        <button class="form-submit muted primary">Filter all</button>
      </div>
    </form>
  </div>
</details>




