.feed_item_link
<a href="{[link]f}" class="item-link {[class]s}" title="{[title]s}" rel="noreferrer noopener">{[title]s}</a>
.feed_item_no_link
<p class="{[class]s}" title="{[title]s}">{[title]s}</p>
.date
<time class="{[age_class]s}" datetime="{[date]s}">{[date_display]s}</time>
.no_date
<span class="no-date">&#8212;</span>
.feed_link
<a class="feed-title truncate-1" href="{[page_url]f}" rel="noreferrer noopener">{[title]s}</a>
.feed_no_link
<p class="feed-title truncate-1">{[title]s}</p>
.untagged
<div class='tag'>
  <input type="checkbox" name="untagged" id="untagged" {[is_checked]s}>
  <label class="visually-hidden" for="untagged">{[value]s}</label>
  <a class='truncate-1' href='/?untagged=' title='untagged'>{[value]s}</a>
</div>
.tag_input
<input type="checkbox" name="tag" id="{[prefix]s}{[tag_index]d}" value="{[tag]s}" {[is_checked]s}>
<label class="{[label_class]s}" for="{[prefix]s}{[tag_index]d}">{[tag]s}</label>
.tag_link
<a class='{[class]s}' href="/feeds?tag={[tag]s}" title="{[tag]s}">{[tag]s}</a>
.tag_edit_success
<p class="callout success">Changes saved</p>
.button_primary
<button class='muted primary' name='action' value='save'>{s}</button>
.button_danger
<button class='outline danger' name='action' value='delete'>{s}</button>
.button_danger_link
<button class='btn-link padding-0 danger' name='action' value='delete'>{s}</button>
.form_input
<div class="form-input">
  <div>
    <label for="new_tags">New tags</label>
    <em>Tags are comma separated</em>
  </div>
  <input type="text" id="new_tags" name="new_tags">
</div>
.fieldset_tags
<fieldset>
  <legend>Tags</legend>
  <div class='feed-tag-list'>
    .fieldset_tag
    <label for="{[prefix]s}{[tag_index]d}">
    <input type="checkbox" name="tag" id="{[prefix]s}{[tag_index]d}" value="{[tag]s}" {[is_checked]s}>
    <span class='truncate-1' title="{[tag]s}">{[tag]s}</span>
    </label>
    .end_fieldset_tag
  </div>
</fieldset>
.feed_delete_msg
<div class='message'>
  <p>Feed deleted</p>
  <a href='/'>Close message</a>
</div>
.last_update_msg
<p>Last update was <time datetime="{s}">{s}</time>.</p>
.next_update_msg
<p class="update-automatic">Next update <time datetime={s}>{s}</time> ({s})</p>
.form_post_update
<form method=POST action=/update>
  <p>
    <button class="btn-link">Check for updates.</button>
    Might take some time.
  </p>
</form>
.body_header
<header class='body-header'>
  <div class='nav'>
    <h1>
      <a href="/" {[attrs]s}>feedgaze</a>
    </h1>
    <nav>
      .nav_link
      <span>|</span><a href="{[href]s}" {[attrs]s}>{[text]s}</a>
      .end_nav_link
    </nav>
  </div>
  .include_filter_feeds
  <hr>
</header>
.filter_feeds
<details>
  <summary>Filter feeds</summary>
  <div class='filter-wrapper'>
    <form action='/feeds' class='stack'>
      <!-- NOTE: don't want tags-only button to be the 'default' button. This is
      used when enter is pressed in input (text) field. -->
      <button aria-hidden="true" style="display: none">Default form action</button>
      <fieldset class='tags stack'>
        <legend>Tags</legend>
        <div class='tag-list'>
        .include_tags
        </div>
      </fieldset>
      <div><button class='muted secondary' name='tags-only'>Filter tags only</button></div>
      <div>
        <label class="form-heading" for="search_value">Filter feeds</label>
        <div class="input-search-wrapper"><input type="search" name="search" id="search_value" value="{[value]s}"></div>
        <button class="form-submit muted primary">Filter all</button>
      </div>
    </form>
  </div>
</details>
.tags_page
<main class='flow'>
  <header class='main-header'><h2>Tags</h2></header>
  .tags_query_delete
  <p class="callout danger">Failed to delete tag</p>
  .tags_query_missing
  <p class="callout warning">Tag doesn't exist</p>
  .tags_query_success
  <p class="callout success">Tag deleted</p>
  .tags_list
  <ul class='tags-all stack list-unstyled' role='list'>
    .tag_item
    <li class='tag-item'>
      .tag_actions
      <div class='tag-actions cluster align-center'>
        <a href='/tag/{[tag_id]d}/edit'>Edit</a>
        <form action="/tag/{[tag_id]d}/delete" method="POST">
        .footer_tag_item
        </form>
      </div>
    </li>
    .end_tag_item
  </ul>
</main>
.tag_edit_page
<main class='flow'>
  <h2>Edit tag: {s}</h2>
  .tags_query_success
  <div><p class="callout success">Changes saved</p></div>
  .tags_query_invalid_form
  <div><p class="callout danger">Invalid form</p></div>
  .tag_edit_form
  <form class='flow' method='post'>
    <div>
      <div>
        <label for='tag-name'>Tag name</label>
      </div>
      <input class='char-len-s' type='text' id='tag-name' name='tag-name' value='{[tag_name]s}'>
    </div>
    <input type='hidden' name='tag-id' value='{[tag_id]d}'>
    .include_buttons
  </form>
</main>
